* {
    margin: 0;
    padding: 0;
}

#footer_container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    background: #f0f1f2;
    font-family: Arial, Helvetica, sans-serif;
}

#footer_container_left_div {
    margin-top: 40px;
    /* border: 2px solid green; */
    display: flex;
    /* padding: 30px; */
    font-size: 13px;
}

#footer_container_left_div>div {
    /* border: 2px solid yellow; */
    padding: 20px;
    line-height: 28px;
}

#footer_container_inside_div {
    width: 28%;
}

.footer_container_first_para {
    font-size: 13px;
    font-weight: bold;
}

#footer_container > div > div >p:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

#footer_container_right_div {
    margin-top: 40px;
}

#font_container {
    /* border: 2px solid red; */
    background: #f0f1f2;

}

#font_container_div {
    /* border: 2px solid green; */
    font-size: 25px;
    width: 40%;
}

#font_container_div>i {
    padding-left: 23px;
}

#india_div {
    /* border: 2px solid hotpink; */
    width: 15%;
    margin-top: 30px;
    margin-left: 30px;
}

#india_div>span {
    text-decoration: underline;
}

span>i {
    padding-left: 10px;
}

#footer_logo_div {
    margin-left: 30px;
}

.madwelllogo {
    width: 76px;
    height: 83px;
    background: transparent;
}

.jcrewlogo {
    width: 90px;
    height: 30px;
    position: relative;
    top: -30px;
    left: 35px;
}

.copyright {
    margin-left: 30px;
    margin-bottom: 50px;
}

#footer_first_div {
    display: flex;
    margin: 10px 567.675px;
    justify-content: space-between;
}

.like_class {
    font-size: 15px;
    font-weight: bold;
}

.input {
    border: none;
    font-size: 16px;
    padding: 12px 0 0 9px;
    outline: 0;
    color: #000;
    width: 100%;
    height: 25px;
    letter-spacing: .3px;
    font-weight: 400;
    overflow: hidden;
}

#signup {
    height: 36px;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: -37px;
    left: 279px;
}